<h1>Welcome#index</h1>
<p><%= p WelcomeController.new.to_as %></p>
<p><%= p WelcomeController.new.x = 45 %></p>
<p><%
  point = WelcomeController.new
%></p>
<p><%= p point.show_me_var %></p>
<!--<p><%#= p WelcomeController.superclass.superclass %></p>-->