<h1 align="center">Categories</h1>
<% if !@categories.empty? %>
  <%= will_paginate(@categories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
<div class="list-group">
  <a href="#" class="list-group-item active">
    List of categories
  </a>
  <% @categories.each do |category| %>
    <%= link_to category.name, edit_category_path(category), :class => 'list-group-item' %>
  <% end %>
</div>
<% end %>
<%= will_paginate(@categories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>